<div class="user">
    <mat-card>
        <div>
            <h3 id="user-img">
                <img src="assets/images/user.png" alt="Avatar">
            </h3>
            <div id="details">
                <table>
                    <tr>
                        <td class="label">Name</td>
                        <td class="detail">Juan dela Cruz</td>
                    </tr>
                    <tr>
                        <td class="label">Email</td>
                        <td class="detail">juan@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
    </mat-card>
</div>