/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer-container .footer-item {
  float: left;
  width: 25%;
}

.welcome {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

#btn-got-it {
  width: 100%;
}

#welcome-title {
  text-align: center;
}

.user {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

#user-img img {
  height: 200px;
  width: auto;
}

.user #details table {
  margin-left: auto;
  margin-right: auto;
}

.user #details table td.label {
  text-align: right;
  font-weight: bold;
}
.user #details table td.detail {
  text-align: left;
  padding-left: 15px;
}


