/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer-container .footer-item {
  float: left;
  width: 25%;
}

.welcome {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

#btn-got-it {
  width: 100%;
}

#welcome-title {
  text-align: center;
}

.user {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

#user-img img {
  height: 200px;
  width: auto;
}

#details table {
  margin-left: auto;
  margin-right: auto;
}

#details table td.label {
  text-align: right;
  font-weight: bold;
}
#details table td.detail {
  text-align: left;
  padding-left: 15px;
}

.feeds {
  padding-top: 150px;
}

.feed {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  height: 200px;
  text-align: justify;
  color: white;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute !important;
}

.feed.shadow {
  box-shadow: 2px 8px 9px 1px gray !important;
}

.feed-empty {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.statistics {
  padding-top: 50px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.statistics .chart-title {
  text-align: center;
}

.statistics-upper-nav button {
  width: 50%;
}

.ranking {
  padding-top: 20px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.green {
  background-color: #42a363;
}

.red {
  background-color: #f26a65;
}

.font-green {
  color: #42a363;
}

.font-red {
  color: #f26a65;
}

.font-white {
  color: white;
}

.font-black {
  color: black;
}