
<div class="statistics-upper-nav">
    <button mat-raised-button class="green font-white">Statistics</button>
    <button mat-raised-button (click)="navigateToRankings()">Rankings</button>
</div>
<div class="statistics">
    <div  *ngIf="show">
        <h3 class="chart-title">{{ chartTitle }}</h3>
        <div style="display: block">
            <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
            </canvas>
        </div>
        <br/>
        <div id="details">
            <table>
                <tr>
                    <td class="label">
                        @ Total Mentions
                    </td>
                    <td class="detail">{{ metrics.mentions }}</td>
                </tr>
                <tr>
                    <td class="label">
                        ! Items Acted Upon
                    </td>
                    <td class="detail">{{ metrics.actedItems }}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>